@import url('https://fonts.googleapis.com/css2?family=Sansita&display=swap');
*{
    padding: 0%
}
header{
    left: 0px;
    top: 0px;
    background: #80CED7;
}
hr{
    color: white;
}
#titulo{
    font-family: 'Sansita', sans-serif;
    font-size: 30px;
    margin: none;
    padding: none;
}
#checkB{
    width: 25px;
    height: 25px;
    margin: 0px 0px 0px 20px;
    padding: none;
}
main{
    padding: 0px 40px; /*el 3px lo voy a tener que modificar*/
    display: grid;
    /*Es para tener 2 columnas*/
    grid-template-columns: 50% 50%;
    gap: 1em;
    height: 420px;
    left: 0px;
    top: 114px;
}
 .datos{
    text-align: center;
    font-size: 20px;
}
#btnAccept{
    background-color: #247BA0;
    border-radius: 20px;
    padding: 7px;
    border-color: white;
}
/*El align-items funciona por el flex-direction*/
.visualizar {
    flex-direction: column;
    text-align: center;
    align-items: center;
    display: flex ;
    justify-content: space-between;
}
.card{
    width: 240px;
    height: 140px;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 10px;
    background-size: cover;
    background-image: url('img/azules.jpg');
    border-radius: 15px;
}
.card .logotipo{
   text-align: right;
}
#logo{
    width: 50px;
    height: 50px;
    margin: 0px 20px;
}
#chip{
    width: 40px;
    height: 40px;
    margin: 0px 20px;
    text-align: left;
}
#mostrarNumero{
    color: thistle;
}
.mensaje{
    margin: 15px;
    width: 150px;
    height: 70px;
    background: #54494B;
    border-radius: 20px;
    text-align: center;
    font-family: 'Sansita Swashed', cursiva;
}
footer{
    height: 100px;
    left: 0px;
    top: 700px;
    background: #F1F7ED;
}
