@import url('https://fonts.googleapis.com/css2?family=Sansita&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
    padding: 10PX;
    background-size: cover;
    background-image: url('img/fondo.jpg');
}
header{
    left: 0px;
    top: 0px;
    background: rgba(128, 206, 215, 0.9);
    border-radius: 15px;
    padding: 10px;
    margin: 15px 70px 0px 70px ;
}

#titulo{
    font-family: 'Sansita', sans-serif;
    font-size: 30px;
    margin: none;
    padding: none;
}
#checkB{
    width: 30px;
    height: 30px;
    margin: 0px 10px 0px 25px;
    padding: none;
}
main{
    padding: 0px 30px; /*el 3px lo voy a tener que modificar*/
    margin: 0px 70px;
    display: grid;
    /*Es para tener 2 columnas*/
    grid-template-columns: 50% 50%;
    /*gap: 1em;     Este es para separar las columnas*/
    height: 420px;
    top: 114px;
    background: rgba(196, 196, 196, 0.9);
    border-radius: 20px;
    
}
 .datos{
    margin: 30px;
    text-align: center;
    font-size: 25px;
}
#leyenda{
    font-family: 'Roboto', sans-serif;
}
#ingresar{
    font-family: 'Sansita', sans-serif;
}
#creditCardNumber{
    background-color: white;
    color: #000;
    border-radius: 5px;
    width: 244px;
    height: 40px;
    font-size: 20px;
}
#btnAccept{
    background-color: #247BA0;
    width: 110px;
    border-radius: 20px;
    padding: 10px;
    border-style: none;
}
#btnAccept :hover{
    background-color: #0a394d;
    width: 110px;
    border-radius: 20px;
    padding: 12px;
    border-style: none;
}
#aceptar{
    font-family: 'Sansita', sans-serif;
    color: #fff;
    font-size: 18px;
}
/*El align-items funciona por el flex-direction*/
.visualizar {
    flex-direction: column;
    text-align: center;
    align-items: center;
    display: flex ;
}
.card{
    width: 420px;
    height: 220px;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 30px;
    background-size: cover;
    background-image: url('img/BackGround.jpg');
    border-radius: 15px;
}
.card .logotipo{
   text-align: right;
}
#logo{
    width:  100px;
    height: 70px;
    margin: 5px 15px  0px 0px;
}
#chip{
    width: 350px;
    height: 80px;
    margin: 0px 20px;
    text-align: left;
}
#mostrarNumero{
    color: #fff;
    font-size: 30px;
    margin: 0px;
}
#mensaje{
    margin: -10px 0px 0px 0px;
    width: 200px;
    height: 90px;
    background: rgba(84, 73, 75, 0.8);;
    border-radius: 20px;
}
#mostrarValida{
    font-family: 'Sansita Swashed', cursiva;
    text-align: center;
    font-size: 25px;
    color: #fff
}
footer{
    text-align: center;
    color: white;
    height: 40px;
    left: 0px;
    top: 700px;
}
